In [2]:
print("Hello")

Hello

# Our second Class

rabia please mjhe chor dou

In [3]:
print(hello)

NameError: name 'hello' is not defined

In [7]:
print(9007860+1)

9007861

In [8]:
print("9888"+1)

TypeError: can only concatenate str (not "int") to str

In [10]:
print('hi hello why what \n haha')

hi hello why what
 haha

In [11]:
print("Languages: \nPython \nRuby \nJavascript")

Languages:
Python
Ruby
Javascript

In [12]:
print("Languages: \n\tPython \n\tRuby \n\tJavascript")

Languages:
	Python
	Ruby
	Javascript

In [14]:
print("Languages: \n\tPython \tRuby \nJavascript")

Languages:
	Python 	Ruby
Javascript

In [16]:
num = 69
print (num)
type(num)

69

int

In [18]:
num = "lumber one army"
print(num)
type(num)

lumber one army

str

In [20]:
a = 10+1
a

11

Overwrite

In [21]:
name = "Jabbar bhai"
name = "Farzana bhabhi"
print(name)

Farzana bhabhi

In [22]:
message = 'Haha'
print(message)
message = "Hehe"
print(message)

Haha
Hehe

In [24]:
First_name = "xYtLiSh"
print(First_name.title())

Xytlish

In [25]:
First_name = "xYtLiSh"
print(First_name.lower())

xytlish

In [27]:
last_name = 'guddu'
print(last_name.upper())

GUDDU

In [28]:
num_1 = 20
print(num_1 + 100)

120

In [30]:
num_1 = 30
num_2 = 60
num_3 = 90
print(num_1 + num_2 + num_3)

180

In [36]:
num_1 = 100
num_2 = 200.01
num_3 = 300.03
num_new = num_1 + num_2 + num_3 - 300.01
print(num_new)

300.03

In [37]:
print(num_new)

300.03

In [38]:
num_new = 300
print(num_new)

300

In [41]:
num_1 = 100
num_2 = 200.01
num_3 = 300.03
num_new = num_1 + num_2 + num_3 - 300.01
print(int(num_new)) #type casting

300

In [43]:
first_name = "AbID"
middle_name = "ShAkA"
last_name = "bHaI"
full_name = first_name + ' ' + middle_name + ' ' + last_name
print(full_name)
print(full_name.title())

AbID ShAkA bHaI
Abid Shaka Bhai